.circCont {
    display: flex;
    align-items: center; /* Vertically centers the contents */
    padding: 50px 0; /* Top and bottom padding */
  }
  
  .circText {
    flex: 1; /* Takes up half the space */
    padding-right: 30px; /* Adds some space between the text and the image */
    padding-left: 100px;
  }
  
  .circText h1 {
    font-size: 2em;
    margin-bottom: 20px; /* Spacing between the heading and paragraph */
    font-family: Inter;
  }
  
  .circText p {
    font-size: 1em;
    font-family: Inter;
  }
  
  .circImage {
    flex: 1; /* Takes up half the space */
  }
  
  .circImage img {
    width: 850px; /* Makes the image responsive */
    height: 850px;
    display: block; /* Removes any space below the image */
    border-radius: 50%;
  }