.pcontainer {
  width: 300px; /* Reduced from 400px */
  background-color: #ffffff;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ppageBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.pheader {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-size: 1.5em; /* Adjusted for smaller size */
}

.pfield {
  margin-bottom: 11.25px; /* Reduced from 15px */
}

.plabel {
  display: block;
  font-weight: bold;
  margin-bottom: 6px; /* Reduced a bit */
  font-size: 0.675em; /* Reduced from 0.9em */
  color: #555;
}

.pinput, .ptextarea {
  width: 100%;
  padding: 9px 11.25px; /* Reduced from 12px 15px */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.675em; /* Reduced from 0.9em */
  box-sizing: border-box;
  transition: border 0.3s;
}

.pinput:focus, .ptextarea:focus {
  outline: none;
  border-color: #007bff;
}

.ptextarea {
  height: 75px; /* Adjusted for smaller size */
}

.pbutton {
  width: 100%;
  padding: 9px 11.25px; /* Reduced from 12px 15px */
  background-color: #370d73;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.825em; /* Adjusted for smaller size */
  transition: background-color 0.3s;
}

.pbutton:hover {
  background-color: #b7add9;
}

.personalPrompt {
  margin-top: 11.25px; /* Reduced from 15px */
  text-align: center;
  font-size: 0.675em; /* Reduced from 0.9em */
  color: #555;
}

.personalLink {
  color: #370d73;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.3s;
}

.personalLink:hover {
  color: #370d73;
}